<div id="id2" style="height: 190px; left: 5px; position: absolute; top: 111px; width: 275px; z-index: 1; " class="style_SkipStroke shape-with-text">
  <div class="text-content graphic_textbox_layout_style_default_External_275_190" style="padding: 0px; ">
    <div class="graphic_textbox_layout_style_default">
      <p style="padding-top: 0pt; " class="paragraph_style_1"><a title="home.html" href="/home.html">HOME</a><br /></p>
      <p class="Body"><a title="AboutInst.html" href="/AboutInst.html">ABOUT THE INSTITUTION</a>   <a title="Programs.html" href="/Programs.html">PROGRAMS</a>  <br /></p>
      <p class="paragraph_style_1"><a title="Fellows.html" href="/Fellows.html">FELLOWS</a><span class="style"><br /></span></p>
      <p class="Body"><a title="Events.html" href="/Events.html">EVENTS</a><span class="style"><br /></span></p>
      <p class="Body"><a title="Publications.html" href="/Publications.html">PUBLICATIONS</a><span class="style"><br /></span></p>
      <p class="Body"><a title="Archive.html" href="/Archive.html">ARCHIVE</a><span class="style"><br /></span><a title="Contact.html" href="/Contact.html">CONTACT</a><br /></p>
    </div>
  </div>
</div>